{% extends 'base.html.twig' %}

{% block title %}Edit AboutMe{% endblock %}

{% block body %}
    <h1>Edit AboutMe</h1>

    {{ include('about_me/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('about_me_index') }}">back to list</a>

    {{ include('about_me/_delete_form.html.twig') }}
{% endblock %}
