{% extends 'base.html.twig' %}

{% block title %}New AboutMe{% endblock %}

{% block body %}
    <h1>Create new AboutMe</h1>

    {{ include('about_me/_form.html.twig') }}

    <a href="{{ path('about_me_index') }}">back to list</a>
{% endblock %}
