body{
    font-size: 43px;
}
/* Général */

.btn{
    font-size: 3rem!important;
}
.bg-white08{
    background-color: rgba(255, 255, 255, 0.8);
}
.bg-white02{
    background-color: rgba(255, 255, 255, 0.35);
}
.not-phone{
    display: none!important;
}
h5{
    font-size: 3.3rem;
}
.alert-rose{
    color: #13142e;
    background-color: #ffdafc;
    border-color: #ffc5fb;
}
.bg-bleu{
    background-color: rgb(19, 20, 46) !important;
}
.border-bleu {
    border-color: rgb(19, 20, 46) !important
}
.text-rose {
    color: #ffc5fb !important;
}
.text-bleu {
    color: rgb(19, 20, 46) !important;
}
.btn-bleu{
    background-color: rgb(19, 20, 46) !important;
    border-color: rgb(19, 20, 46) !important;
    color: #ffc5fb!important;
}
.btn-rose{
    background-color: #ffc5fb!important;
    border-color: rgb(78, 198, 250)!important;
    color: rgb(19, 20, 46)!important;
}
.btn-rose:hover{
    color: rgb(78, 198, 250)!important;
}
.bg-rose,nav .dropdown-menu {
    background-color: #ffc5fb;
}
.not-on-phone
{
    display: none;
}
.container{
    max-width: 100%;
}
h4, .h4{
    font-size: 42px;
}
.h2, h2 {
    font-size: 63px;
}
.h1, h1 {
    font-size: 75px;
}
.form-control {
    font-size: 3rem;
    margin: 15px 0;
}
.form-select {
    font-size: 3rem;
}
#signin .checkbox input{
    height: 40px;
    width: 40px;
    margin-top: 10px;
}
#remember{
    font-size: 3rem ;
}


/* header */
#header-top{
    height: 350px;
}
#logo{
    width: 420px;

}
nav a, footer a{
    margin: 30px 0;
}
#header-top .dropdown-item {
    font-size: 30px;
}
.navbar-toggler-icon{
    height: 90px;
    width: 105px;
}
.navbar-light .navbar-nav .nav-link{
    color:   rgb(19, 20, 46);
}
nav .dropdown-item{
    color: rgb(19, 20, 46) !important;
    font-size: 50px;
}
nav .dropdown-item:hover{
    border: solid 1px #ffc5fb;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    border-color: rgba(0, 0, 0, 0);
    color: rgb(78, 198, 250);
}
.nav-tabs {
    border-bottom: 1px solid rgb(19, 20, 46);
}
nav .dropdown-item:focus, nav .dropdown-item:hover {
    color: white;
    background-color: #ffc5fb;
}
#header-top .dropdown-toggle::after {
    display: none;
}
header nav{
    border: solid 2px rgb(19, 20, 46);
}
.on-phone{
    display: block;
}
#user .dropdown-menu{
    left: -50px;
}
#user a{
    color: #13142e;
}

/* footer */

footer ul li a{
    color: #ffc5fb;
    text-decoration: none;
}
#img-footer {
    display: none;
}

/*front*/


.frontmain{
    background-color: rgba(78, 198, 250, 0.4);
}
.carousel-item{
    height: 700px;
}
.height-carousel{
    height: 100vh;
}
.carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.carousel-control-next, .carousel-control-prev{
    opacity: 1;
}

.block-site{
    min-height: calc(100vh - 350px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.adress{
    text-decoration: none;
    color: black;
}
#compte{
    padding-top: 0!important;
}
.myborder{
    border : 1px solid #dee2e6;
    border-top: 0
}
.check{
    position: relative;
    top: -35px;
}
#about{
    width: 40%;
}

/*back*/

.formulaire{
    width: 99%;
    border: 1px solid #dee2e6!important;
    border-radius: 0.25rem!important;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .15)!important;
    background-color: white;
    margin: 1.25rem auto;
    padding: 3rem!important;
}
.navadmin{
    width: 15%;
}
#navadmin{
    height: 100%;
}
#navadmin a{
    color: #13142e;
    text-decoration: none;
}
#navadmin a:hover{
    color:rgb(78, 198, 250);
    
}
#list-products img{
    width: 200px;
}
#td-img{
    width: 18%;
}
#signin{
    margin: 25px auto;
    width: 99%;
}







@media (min-width: 992px)  {
    
    /* Général */

    body, nav .dropdown-item, #header-top .dropdown-item {
        font-size: 1rem;
    }
    .btn{
        font-size: 1rem!important;
    }
    .not-phone{
        display: flex!important;
    }
    .on-phone{
        display: none;
    }
    
    h5{
        font-size: 1.3rem;
    }
    h4, .h4{
        font-size: 24px;
    }
    .h2, h2 {
        font-size: 30px;
    }
    .h1, h1 {
        font-size: 37px;
    }
    .form-control {
        font-size: 1rem;
    }
    .form-select {
        font-size: 1rem;
    }
    #signin .checkbox input{
        height: inherit;
        width: inherit;
        margin-top: inherit;
    }

    /* header */
    
    #header-top{
        height: 150px;
    }
    #logo{
        margin: inherit;
        width: 210px;
    }
    nav a{
        margin: 0px;
    }
    
    /* footer */
    
    #img-footer {
        display: block;
    }

    /* front */
    
    #index p{
        font-size: 20px;
    }
    #about{
        width: 11%;
    }
    #signin{
        width: 50%;
    }

    /* back */
    
    
    .formulaire{
        width: 50%;
    }
    #list{
        width: 75%;
    }
    .container{
        max-width: 960px;
    }
    .btn{
        font-size:  1rem!important;
    }
}
@media (min-width: 1200px)  {
    .not-on-phone{
        display: table-cell;
    }
    .container{
        max-width: 1140px;
    }
    #signin{
        width: 25%;
    }
}
@media (min-width: 1400px){
    .container{
        max-width: 1320px;  
    }
}
