{% extends 'layout.html.twig' %}

{% block title %}Ajouter un produits{% endblock %}

{% block main %}
    <h1 class="text-center text-bleu">Ajouter un produits</h1>
    <div class="w-50 m-auto my-5 bg-white p-5 border rounded shadow">
        {{ include('products/_form.html.twig') }}
    </div>
    <div class="d-flex justify-content-center">
        <a class="text-center btn btn-bleu" href="{{ path('products_index') }}">Retour à la liste</a>
    </div>
{% endblock %}
