{% extends 'admin.layout.html.twig' %}

{% block title %}Edit Products{% endblock %}

{% block main %}
    <div class="formulaire">

        <h1 class="text-center text-bleu">Modifier</h1>

        {{ include('admin/products/_form.html.twig', {'button_label': 'Update'}) }}

        <a class="btn-bleu" href="{{ path('products_index') }}">Retour à la liste</a>

        {{ include('admin/products/_delete_form.html.twig') }}
</div>
{% endblock %}
