{% extends 'admin.layout.html.twig' %}

{% block title %}Ajouter un produits{% endblock %}

{% block main %}
<div class="formulaire">
    <h1 class="text-center text-bleu">Ajouter un produits</h1>
        {{ include('admin/products/_form.html.twig') }}
    </div>
    <div class="d-flex justify-content-center">
        <a class="text-center btn btn-bleu" href="{{ path('products_index') }}">Retour à la liste</a>
</div>
{% endblock %}
