{% extends 'admin.layout.html.twig' %}

{% block title %}New Category{% endblock %}

{% block main %}
<div class="formulaire">
    <h1 class="text-center">Create new Category</h1>

    {{ include('admin/category/_form.html.twig') }}

    <a href="{{ path('category_index') }}">back to list</a>
</div>
{% endblock %}
