{% extends 'layout.html.twig' %}

{% block title %}New User{% endblock %}

{% block main %}
<div class="formulaire">
    <h1 class="text-center">Inscription</h1>
        {{ include('user/_form.html.twig') }}

    </div>

{% endblock %}
{% block javascripts %}
    <script src="{{asset('js/embed.js')}}"></script>
{% endblock %}

