<footer class="bg-bleu px-0">
    <div class="d-flex justify-content-between flex-wrap text-rose">
        <div class="col-md-1" id="img-footer"><img class="img-fluid"  src="{{ asset('images/logo.png') }}" alt="logo defilsentétines"></div>
        {% for categorie, types in categories %}
        <div class="d-flex col-5 col-lg-3 my-2 ms-2" >
            <div class="justify-content-center">
                <h5><u>{{ categorie | capitalize }}</u> : </h5>
                <ul class="list-unstyled">
                    {% for type in types %}
                        <li><a href="{{ path('front_produits', {"slug": type.slug}) }}">{{ type.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}
        <div class="col-5 col-lg-3 align-self-end">
            <p>&copy; DeFilsEnTétines - 2021</p>
        </div>
    </div>
</footer>