{% extends 'base.html.twig' %}
{% block body %}
    <div class="{% if app.request.pathInfo == '/admin/products/' %}backmain{% else %}frontmain{% endif %} container-fluid px-0">
        {{ render(url('front_menu')) }}
            <div class="container-fluid my-3 block-site px-0">
                {% block main %}{% endblock %}
            </div>
        {{ render(path('front_footer')) }}
    </div>
{% endblock %}