{% extends 'base.html.twig' %}
{% block body %}
    <div class="frontmain">
        <header>
            <div class="d-flex justify-content-center bg-bleu" id="header-top">
                <div class="align-self-center" id="logo"><a href="{{ path('front_index') }}"><img class="img-fluid" src="{{ asset('images/logo.png') }}" alt="logo de fils en tétines"></a></div>              
            </div>
            </header>
        {% block menu %}{{ render(url('front_menu')) }}{% endblock %}
        {% block menu2 %}{% endblock %}
            <div class="block-site">
                {% block main %}{% endblock %}
            </div>
            {{ render(path('front_footer')) }}
    </div>
{% endblock %}